html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

ul {
    list-style-type: none;
}

ul a{
    text-decoration: none;
    color: white;
}

img {
    max-height: 275px;
}

/* styling for logo and links in header*/

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 30px;
    align-items: center;
}

.header .logo {
    font-family: "Roboto";
    font-weight: 500;
    margin-left: 200px;
}

.header .links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Roboto";
    font-weight: 300;
    margin-right: 200px;
}

/* styling for information in lower header*/

.upper-information {
    background-color: #1f2937;
    display: flex;
    width: 300px;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
}

.upper-information .text, .upper-information .title {
    width: 350px;
    color: white;
}

.upper-information .title {
    font-size: 48px;
    font-family: "roboto";
    font-weight: 700;
    text-wrap: wrap;
}

.left-upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;
}

.right-upper {
    display: flex;
    gap: 10px;
    margin-right: 200px;
}

.left-upper button {
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgb(79, 79, 203);
    border-radius: 5px;
}

/* styling for information in card section*/

.infocard-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    text-align: center;
}

.card {
    border-width: 5px;
    border-style: solid;
    border-color: #3e79cd;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}