html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul a{
    text-decoration: none;
    color: white;
}

img {
    max-height: 250px;
}

li {
    min-width: 140px;
    text-align: right;
}

/* styling for logo and links in header*/

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 30px;
    align-items: center;
    padding-top: 10px;
}

.left-margin, .right-margin {
    flex: 1;
    min-width: 200px;
}

.header .logo {
    font-family: "Roboto";
    font-weight: 500;
    width: 500px;
    flex-shrink: 0;
}

.header .links {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    font-family: "Roboto";
    font-weight: 300;
    width: 500px;
    flex-shrink: 0;
}

/* styling for information in lower header*/

.upper-information {
    background-color: #1f2937;
    display: flex;
    width: 300px;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.upper-information .text, .upper-information .title {
    width: 350px;
    color: white;
}

.upper-information .title {
    font-size: 48px;
    font-family: "roboto";
    font-weight: 700;
    text-wrap: wrap;
}

.left-upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    flex-shrink: 0;
}

.right-upper {
    display: flex;
    justify-content: right;
    width: 600px;
    flex-shrink: 0;
}

.left-upper button {
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgb(79, 79, 203);
    border-radius: 5px;
}

/* styling for information in card section*/

.lower-wrapper .left-margin, .lower-wrapper .right-margin {
    flex: 1;
    min-width: 175px;
}

.lower-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 50px;
    padding-top: 20px;
}

.lower-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex-shrink: 0;
}

.info-title {
    font-family: "roboto";
    font-weight: bold;
    font-size: 32px;
}

.infocard-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.infocard .text {
    text-align: center;
    text-wrap: wrap;
    width: 150px;
}

.info-title {
    text-align: center;
    padding-top: 20px;
}

.card {
    border-width: 5px;
    border-style: solid;
    border-color: #3e79cd;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

/* styling for quote section*/

.quote-container {
    flex: 1;
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    gap: 10px;
    flex-shrink: 0;
    min-width: 1400px;
}

.quote {
    font-family: "roboto";
    font-weight: 300;
    font-size: 22px;
    width: 550px;
}

.quote-author {
    text-align: right;
    width: 550px;
    font-family: "roboto";
    font-weight: bold;
}

/*styling for the call to action*/

.cta-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 1400px;
}

.cta-box {
    background-color: #3882f6;
    display: flex;
    width: 1000px;
    height: 100px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.cta-message {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    margin-left: 150px;
}

.cta-title {
    font-weight: bold;
    color: white;
}

.cta-text {
    font-weight: 300;
    color: white;
}

.cta-container button {
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: white;
    font-family: "roboto";
    margin-right: 150px;
    width: 120px;
}

/*styling for the footer*/
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1400px;
}

.footer .text {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: "roboto";
    font-weight: 300;
}

